.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
     background-color: hsl(261, 96%, 10%);
}
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    :global {
      i {
        margin: 0 5px;
        cursor: pointer;
      }
    }
  }
  .service{
   text-align: center;
  }