.navStyle {
  :global {
    .next-tabs-nav-scroll {
      display: flex;
      justify-content: center;
      background-color: #14132D;
    }
    .next-tabs-tab {
      &::before {
        border-color: white !important;
        color: white;
      }
      &.active {
        color: white!important;
        // color: white;
      }
    }
  }
}
.contentStyle {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  background-image: url(../../../../zktube-fe/src/assets/zktube.png);
  height: 100%;
  position: relative;
  // margin-top: 1px;
}

.header{
  position: absolute;
  top: 0px;
  left:0px;
  // background-color: #14132D;
}