.contentStyle {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url(../../../../zktube-fe/src/assets/zktube.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}

