.list {
  position: relative;
  background: #D2D0D0;
  .list-item {
    position: relative;
    border: 1px solid #eee;
    .box {
      min-height: 100%;
      .box-select {
        height: 50px;
        line-height: 50px;
        margin-right: 20px;
        .status-point {
          display: inline-block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #3d7520;
          margin-right: 10PX;
          vertical-align: middle;  
        }
        .next-input {
          border-radius: 25px;
          background: #A2A5A8; 
        }
      }
      .box-btn {
        width: 180px;   
        height: 50px;
        line-height: 50px;
        margin-right: 20px;
        .next-btn {
          background: #938E8E;
        }
      }
    }
  }
}
