.list {
  position: relative;
  margin-top: -21px;
  // background-image: url(../../../../assets/fullImage.png);
  background-color: #020230;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .listitem {
    position: relative;
    border: 1px solid #eee;
    .borderbox {
      // background: #fff;
      height: auto;
      .headtitle {
        width: 100%;
        height: 200px;
        line-height: 200px;
        text-align: center;
        .headimg {
          width: 150px;
          height: 100px;
          margin-top: 150px; 
        }
      }

      .firstImage{
        width: 100%;
        height: 80%;
        display: block;
        // margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        color: white;
        text-align: center;
        overflow: hidden;

      }
     
      .midtitle {
        width: 100%;
        text-align: center;
        margin-top: 80px;
        color: white;

        .midimg {
          width: 350px;
          height: 193px;
        }
        .midlarge {
          display: block;
          font-size: 48px;
          font-weight: bold;
          font-family: SourceHanSansSC-bold; 
          margin-top: 10px; 
        }
        .midsmall {
          display: block;
          font-size: 28px;
          margin-top: 8px;
          font-family: SourceHanSansSC-regular;
        }
      }
      .footbtn1 {
        text-align: center;
        // margin-top: 100px;
        position: absolute;
        top: 69%;
        left: 50%;
        margin-left: -135px;
        color: white;
        margin-bottom : 50px;
      }
      .footbtn {
        text-align: center;
        margin-top: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        margin-bottom : 50px;
      }
      .center {
        position: absolute;
        color: white;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        padding: 15px 0px;
        vertical-align: middle;
        font-size: 22px;

      }
      .foottitle {
        width: 100%;
        text-align: center;
        // margin-top: 70px;
        .footlarge {
          display: block;
          font-size: 28px;
          font-weight: bold;
          color: white;
          margin-top: 20px;
        }
        .footsmall {
          display: block;
          font-size: 15px;
          // font-weight: bold;
          margin-top: 15px;
          color:rgba(243, 229, 229, 0.719);
          text-align: center;
        }
      }
      .introlist {
        width: 100%;
        text-align: center; 
        margin-top: 50px;
        .introcont { 
          width: 68%;
          margin: 0 auto; 
          display: flex;
          justify-content: space-evenly;     
        .introitem {
          width: 240px;
          height: 450px;
          border: 1px solid;
          box-shadow: 5px 5px rgba(10, 9, 10, 0.719);
          overflow: hidden;

          .itemimg {
            height: 120px;   
          }
          .itemfirst {
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            color: white;

          }
          .itemsec {
            text-align: center;
            padding: 10px;
            color:rgba(243, 229, 229, 0.719);
            line-height: 1.5;
            
          }        
              }
      }
      }

      .imgphil{
        width: 66%;
        height: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        color: white;
        text-align: center;
        overflow: hidden;

      }

      .headimg1{
        position: absolute;
        color: white;
        top: 30%;
        left: 50%;
        margin: auto;
        margin-left: -58px;
        // padding: 15px 0px;
        vertical-align: middle;
        text-align: left;
      }
      .midtitle1 {
        width: 100%;
        top: 45%;
        font-size: 48px;
        font-weight: bold;
        font-family: SourceHanSansSC-bold; 
        margin-top: 10px; 
        text-align: center;
        margin:auto;
        // margin-top: 80px;
        color: white;
        position: absolute;
      }

      .midtitle2 {
        width: 100%;
        top: 54%;
        font-size: 22px;
        font-family: SourceHanSansSC-bold; 
        margin-top: 10px; 
        text-align: center;
        margin:auto;
        color: rgba(255, 255, 255, 0.63);
        position: absolute;
        
      }


      .decenter{
        position: absolute;
        color: white;
        top: 30%;
        left: 47%;
        margin: auto;
        // padding: 15px 0px;
        vertical-align: middle;
        text-align: left;

      }
      .ourphil{
        position: absolute;
        color: white;
        top: 30%;
        left: 0;
        margin: auto;
        // padding: 15px 0px;
        vertical-align: middle;
        text-align: left;
        margin-left: 25px;

        .our{
          font-size: "22PX"; 
          font-weight:"bold";
          width: 66%;
        
      }
      }
      .announce{
        font-size: 24px;
        font-weight: bold;
        margin-top: 30px;
        width: 70%;
        margin-left: 17%;
        color: white;

      }

      .button{
        background-color:rgba(30, 3, 61, 0.308);
        color: white;
        margin-left: 8px;
        width: 75px;
        border-radius: 25px;
        cursor: pointer;
      }
      .testnet{
        width: 66%;
        height: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        color: white;
        text-align: center;
        overflow: hidden;
      }
      .another{
        width: 100%;
        height: 150%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        color: white;
        text-align: center;
        overflow: hidden;
      }

      .arrow{
        position: absolute;
        color: white;
        top: 55%;
        right: 2%;
        margin: auto;
        // padding: 15px 0px;
        vertical-align: middle;
        text-align: right;
        margin-right: 25px;
      }
      .faq {
        text-align: center;
        margin-top: 50px;
        position: relative;
        color: white;
        margin-bottom : 50px;
      }
      

      .eth{
        position: absolute;
        color: white;
        top: 15%;
        left: 15%;
        margin: auto;
        margin-left: 20px;
      }

      .zktube{
        position: absolute;
        color: white;
        top: 15%;
        left: 21%;
        margin: auto;
        vertical-align: middle;
        text-align: left;
        // margin-left: 25px;
      }
      .tech{
        position: absolute;
        color: white;
        top: 45%;
        margin: auto;
        left: 16%      
      }

      
      .team{
        position: absolute;
        color: white;
        top: 45%;
        left: 21%;
        margin: auto;
        vertical-align: middle;
        text-align: left;
      }

      .footer{
        position: absolute;
        width: 66%;
        height: 100%;
        top: 60%;
        left: 15%;
        // display: block;
        margin: auto;
        color: white;
         margin-top: 50px;
        // margin-bottom: 20px;
      }

      .alignRight{
        float: right;
      }
      .bigfoot {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        margin-top: 50px;
      }
      .litfoot {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .footimg {
        width: 100%;
        height: 300px;
        text-align: center;
        .img {
          width: 560px;
          height: 250px;
          background: rgb(223, 211, 211);
        }
      }
      .pagefoot {
        text-align: center;
        .pagefsm {
          display: block;
          font-weight: bold;
        }
        .pagefla {
          display: block;
          font-size: 25px;
          font-weight: bold;
          margin-top: 5px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
