.container {
    display: flex;
    // flex-direction: column;
    // align-items:center;
    width: 500px;
    height: 680px;
    background-color: #fff;
    border-radius: 2px;
    
    }
    .buttonSelected1{
      margin: 0 10px 0px 10px;      
      background-color: black;
      color:white;
      user-select: none;
      align-self: center;
      padding: 13px 11px 32px 10px;
      // margin-top: 6px;
      width: 80px;

    }
    .icon-left
    {
        margin: 2rem;
        font-size: 30px;
        font-weight: 500;
    }

    .grid{
        margin : 10px;
    }
    .next-number-picker-normal.next-large {
      width: 286px !important;
    }

    // .fieldContainer {
    //   display: inline-block;
      // align-items: center;
      .input {
        width: 330px;
        height: 36px;
        line-height: 36px;
        font-size: 30px;
        border: 1px solid #f5f5f9;
        border-radius: 4px;
        background-color: #D3D3D5;
      }
    // }
    .inputWidth{
        width: 390px;
        height: 100px;
        line-height: 20px;
        border-radius: 4px 4px 4px 4px;
        padding: 5px;
        // background-color: rgba(245, 245, 249, 100);
        color: rgba(219, 209, 209, 100);
        font-size: 16px;
        text-align: center;
        font-family: "Roboto";
        border: 1px solid rgba(211, 211, 213, 100);
        margin-right: 20px;
    }
    .inputWidth2{
        width: 75%;
        max-width: 500px;
        border-radius: 4px 4px 4px 4px;
        padding:5px;
        font-size: 16px;
        border: 1px solid rgba(211, 211, 213, 100);
        font-family: "Roboto";
        border-radius: 3px;
        // margin: 20px 3px;
        box-sizing: border-box;
        background-color: #D3D3D5;

        // margin-left: 3px;
        // margin-right: 5px;
    }
    .button {
        margin: 0 10px;
        user-select: none;
        align-self: center;
        color: #5E45EB;
        &:hover {
          color: #5E45EB;
        }
      }

    .to{
        // left: 638px;
        // top: 205px;
        margin-left: 20px;
        width: 100px;
        height: 20px;
        color: black;
        font-size: 32px;
        font-weight: 600; 
        text-align: left;
        // font-family: "SourceHanSansSC-regular";
    }

    .amount{
        // left: 636px;
        // top: 315px;
    //    margin : 70px 0px 0px 20px ;
        font-size: 26px;
        font-family: "SourceHanSansSC-regular";
        font-weight: 600; 
        color: black;
    }
    .textBox{
        margin :35px 0px 25px 0px;
        // display: "inline" 
    }
    .buttonSelected {
        background-color: #333340;
        color: #fff;
        font-size: 14px;
        height: 36px;
        margin-left: 10px;
        i {
          margin-left: 5px;
        }
      }
    
    .withdraw{
        font-family: "SourceHanSansSC-bold";
        font-size: 16px;
        margin-left: 172px;
        font-weight: 600
    }

    .balance {
        width: 340px;
        display: flex;
        justify-content: flex-end;
        height: 32px;
        line-height: 32px;
        .text {
          color: #5e5a5a;
          font-size: 18px;
          font-weight: bold;
        }
      }
    .textBox{
        text-align : "right";
        // display: "inline"
 
    }
    .buttonshow{
        // width: 100%;
        margin: 40px 30px 20px 40px;
        width: 380px;
        height: 47px;
        line-height: 20px;
        border-radius: 4px 4px 4px 4px;
        background-color: rgba(245, 245, 249, 100);
        text-align: center;
        border: 1px solid rgba(211, 211, 213, 100);

    }

    .colorSelect{
        background-color:black !important;
          color: white;
          text-Shadow:"0 1px black";
      }

      .comment{
        color: rgba(255, 0, 0, 100);
        margin: 30px 30px 30px 50px;
        text-align:center;
      }
      .dialog {
        width: 520px;
        :global {
          .next-dialog-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
          }
        }
        .empty {
          flex: 1;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            font-size: 14px;
            color: #101010;
          }
        }
        .search {
          width: 100%;
        }
        .list {
          width: 100%;
        }
      }
      

    