.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  :global {
    .next-menu-footer {
      flex: 1;
      box-sizing: border-box;
      display: flex;
    }
    .next-nav-item.next-menu-item {
      margin: 5px 20px!important;
      border-radius: 5px;
    }
  }
}