// 引入默认全局样式
@import '@alifd/next/reset.scss';

body {
  -webkit-font-smoothing: antialiased;
    .next-shell-dark .next-shell-main .next-shell-content{
      padding: 0 !important; 
    }
}

.next-tabs.next-medium .next-tabs-tab-inner {
  font-size: 14 !important; 
  padding: 11px 16px !important;
  color:  white !important;
  margin-top: 50px !important;
  font-size: 16px !important;
}

