.container {
  width: 100%;
  height:  990px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  // padding: 60px;

  .card {
    // margin-top: -150px;
    top: 100px;
    position: absolute;
    padding: 5px 15px;
    width: 450px;
    min-height: 180px;
    border-radius: 8px;
    background-color: #363377;
    display: flex;
    flex-direction: column;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      i {
        cursor: pointer;
      }
      .title {
        font-size: 16px;
        font-weight: 800;
        color: whitesmoke;
        margin-top: 5px;
      }
      .extra {
        width: 32px;
      }
    }
    .formContainer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex: 1;
      .label {
        font-size:12px;
        height: 30px;
        line-height: 30px;
        color: white;
        margin-left: 20px;
      }
      .fieldContainer {
        display: flex;
        align-items: center;
        .input {
          width: 340px;
          height: 36px;
          line-height: 36px;
          font-size: 30px;
          border: 1px solid #14132D;
          border-radius: 4px;
          background-color: #14132D;
          color: white;
          margin-left: 20px;
        }
        .buttonSelected {
          background-color: #333340;
          color: #fff;
          font-size: 14px;
          height: 36px;
          margin-left: 10px;
          i {
            margin-left: 5px;
          }
        }
      }
      .virtual-box {
        height: 200px;
        width: 200px;
        border: 1px solid #ddd;
        overflow: auto;
      }
      .virtual-box ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }
      .virtual-box li {
        padding-left: 10px;
        border-bottom: 1px solid #333;
      }
    }
    .button {
      margin: 0 10px 0px -2px;      
      background-color: #5e45eb;
      color:white;
      user-select: none;
      align-self: center;
      padding: 13px 11px 32px 10px;
      border-radius: 7px 16px 16px 0px;
      margin-top: 6px;
      // color: #5E45EB;
      // &:hover {
      //   color: white;
      // }
    }

    .buttonSelected1 {
      margin: 0 10px 0px 10px;      
      background-color: #5e45eb;
      color:white;
      user-select: none;
      align-self: center;
      padding: 13px 11px 32px 10px;
      border-radius: 7px 16px 16px 0px;
      margin-top: 6px;
      width: 80px;
    }

    .button1{
      // margin: 0 10px 0px -2px;      
      // background-color: #5e45eb;
      color:white;
      user-select: none;
      align-self: center;
      // padding: 13px 11px 32px 10px;
      // border-radius: 7px 16px 16px 0px;
      margin-top: 6px;
      // position: absolute;
      // top:0px;
    }
    .balance {
      width: 340px;
      display: flex;
      // justify-content: flex-end;
      height: 32px;
      line-height: 32px;
      .text {
        color:white;
        font-size: 14px;
        // font-weight: bold;
        margin-left: 20px;
        margin-top: 5px;
      }
    }
    .note {
      font-size: 12px;
      color: #716F6F;
      width: 340px;
      word-break: break-all;
      padding: 10px;
    }
    .deposit{
      margin: 25px 20px 20px;
      border-radius: 10px;
      height: 46px;
      border: 2px solid #5e45eb;
      background-color: #09064b;
      color: white;
    }
    .unlock {
      width: 432px;
      margin-top: 30px;
    }
    .warning {
      height: 30px;
      line-height: 30px;
      margin-bottom: 20px;
      margin-top: 30px;
      font-size: 12px;
      color: #ff0000;
    }
  }

  .next-number-picker-normal:not(.next-number-picker-no-trigger) .next-input input {
    padding-right: 0px !important;
      width: 305px !important;
      height: 44px !important;
      line-height: 36px !important;
      font-size: 12px !important;
      border: 1px solid #14132D !important;
      border-radius: 9px 0px 0px 9px !important;
      background-color: #09064b !important;
      margin-top: -5px;
      margin-bottom: -45px;
      margin-right: -7px;
      margin-left: -2px;
      color: whitesmoke;
  }
}
.dialog {
  width: 520px;
  :global {
    .next-dialog-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }
  }
  .empty {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 14px;
      color: #101010;
    }
  }
  .search {
    width: 100%;
  }
  .list {
    width: 100%;
  }
}
