.content {
  width: 1152px; 
  height: 88vh;
  margin: 0 auto; 
  padding-bottom: 200px; 
  overflow-x: hidden; 
  margin-top: 189px; 
  overflow-y: scroll;
  background: #fff;
}

.whitepaper {
  text-align: center;
  margin-top: 50px;
  position: absolute;
  left: 17%;
  bottom: 5%;
  color: white;
  cursor: pointer;
  // margin-bottom : 50px;
}
.center {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 15px 0px;
  vertical-align: middle;
  font-size: 22px;

}